.text-center{
  display: grid;
  place-items: center;
  padding: 100px;
  background-color: blue;
  color: white;
  margin-bottom: 20px;
}

.tab-content{
  display: grid;
  justify-content: center;
  place-items: center;
  background-color: aqua;
  padding: 45px;
}

.tab-content input{
  padding-right: 300px;
  padding-top:10px;
  padding-bottom: 10px;
  border-radius: 30px;
  margin-bottom: 10px;
}
.tab-content .btnRegister{
  padding-right: 100px;
  background-color: dodgerblue;
  color: white;
  padding-left: 20px;
}
.tab-content .btnRegister:hover{
  background-color: green;
  cursor: pointer;
  color: aliceblue;
}

/*Login form*/
.log-content{
  display: grid;
  justify-content: center;
  place-items: center;
  background-color: darkcyan;
  padding: 45px;
}

.log-content input{
  padding-right: 300px;
  padding-top:10px;
  padding-bottom: 10px;
  border-radius: 30px;
  margin-bottom: 10px;
}
.log-content .btnLogin{
  padding-right: 80px;
  padding-left: 20px;
  background-color: dodgerblue;
  color: white;
  margin-left: 150px;
}
.log-content .btnLogin:hover{
  background-color: green;
  cursor: pointer;
  color: aliceblue;
}
/* *{
  margin:0;
  padding: 0%;
  box-sizing: border-box;
}

html{
  font-size: 62%;
}
body{
  height: 100vh;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* nav start*/
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li{
  float:left;
  margin: 0px 50px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  font-size: large;
}
.mx{
  margin-left: 50px;
  margin-right: 400px;
}
li a:hover{
  background-color: #111;
}
/* nav end*/
.item{
  font-size: 2rem;
}

.item-1{
  background-color: #d3c6b8;
}
.item-2{
  background-color: #88847f;
}
.item-3{
  background-color: #374840;
}
.item-4{
  background-color: #376a54;
}
.item-5{
  background-color: #d6d4d3;
}
.item-6{
  background-color: #516464;
}

.container-grid{
  width: 1200px;
  background: #efedec;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: grid;
  grid-template-columns: 480px 480px 480px;
  grid-template-rows: 200px 200px;
  grid-gap: 30px;

}