
<div class="container-grid">
  <div class="item item-1">MongoDb<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia unde quod dolor.</p></div>
  <div class="item item-2">Expressjs<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ex error cumque.</p></div>
  <div class="item item-3">Reactjs<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ducimus pariatur quidem.</p></div>
  <div class="item item-4">Nodejs<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos facere ut qui!</p></div>
  <div class="item item-5">Nextjs<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum alias voluptatum sequi!</p></div>
  <div class="item item-6">Tailwindcss<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium necessitatibus.</p></div>
</div>