<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-mx">
    <div class="row">
      <ul class="navbar">
        <li class="mx"><a><b>Hi Tech</b></a></li>
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/secret">Secret</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        <li class="nav-item"><a class="nav-link" href="/register">Registration</a></li>
      </ul>
    </div>
  </div>
</body>
</html>