<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}
</head>
<body>
  {{>navbar}}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h1>Welcome to Mern BackEnd Course</h1>
          <h4>The Best Course on Mern Stack Development</h4>
        </div>
      </div>
    </div>
  </div>

  <section id="about-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="about-text border-right">
            <h1>Secret</h1>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis non nisi quas dolores aliquam. Aperiam earum magnam, delectus assumenda mollitia rem fugit. Voluptates, reprehenderit nihil?</p>
            <button class="btn btn-primary">More</button>
          </div>
        </div>
                <div class="col-md-4">
          <div class="about-text border-right">
            <h1>Secret</h1>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis non nisi quas dolores aliquam. Aperiam earum magnam, delectus assumenda mollitia rem fugit. Voluptates, reprehenderit nihil?</p>
            <button class="btn btn-primary">More</button>
          </div>
        </div>
                <div class="col-md-4">
          <div class="about-text border-right">
            <h1>Secret</h1>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis non nisi quas dolores aliquam. Aperiam earum magnam, delectus assumenda mollitia rem fugit. Voluptates, reprehenderit nihil?</p>
            <button class="btn btn-primary">More</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>